.deals-main {
    display: flex;
}

.slider-container {
    background-color: white;

}

.top-deals-title {
    font-size: 23px;
    font-weight: 600;
    color: black;
    padding: 20px 20px 0 22px;
    width: max-content;
}

.deal-banner {
    width: 40%;
    padding: 20px 20px;
}

.product-slider {
    width: 60%;
}

.dael-banner img {
    border-radius: 50px !important;
    height: 100%;
    width: 90%;
    object-fit: cover;
}

.slick-slider {
    padding: 10px 20px;
    background-color: white;
}

.slider-container:hover .slick-prev {
    opacity: 1;
}

.slider-container:hover .slick-next {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}
@media only screen and (min-width:280px) and (max-width: 768px) {
    .deals-main{
        display: block;
    }
    .deal-banner{
        width: 100%;
    }
    .product-slider {
        width: 100%;
    }
}